{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <h5 class="cv-title">Personal CV</h5>
    
    <form method="POST" action="{% url 'skill_new' %}">
        {% csrf_token %}
        <input name="skill_text" id="new-skill" placeholder="Enter a new skill"/>
    </form>

    <ul id="skill-list">
        {% for skill in skills %}
            <li>{{ skill.text }} <a href="{% url 'skill_remove' pk=skill.pk %}"><i class="fa fa-times"></i></a></li>
        {% endfor %}
    </ul>

    <p>Here goes the CV! Here goes the CV! Here goes the CV!</p>
    <p>YAY you opened the CV! YAY you opened the CV! YAY you opened the CV!</p>
    <img src="/static/images/none.jpg" alt="none" style="max-width: 100%;">
{% endblock %}
