{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <h5 class="cv-title">Skills</h5>
    <ul id="skill-list">
        {% for skill in skills %}
            <li>{{ skill.title }} <a href="{% url 'skill_remove' pk=skill.pk %}"><i class="fa fa-times"></i></a></li>
        {% endfor %}
    </ul>

    <h5 class="cv-title">Education</h5>
    <ul id="education-list">
        {% for ed in educations %}
            <li>{{ ed.title }} <a href="{% url 'education_remove' pk=ed.pk %}"><i class="fa fa-times"></i></a></li>
        {% endfor %}
    </ul>

    <h5 class="cv-title">Achievements</h5>
    <ul id="achievement-list">
        {% for ac in achievements %}
            <li>{{ ac.title }} <a href="{% url 'achievement_remove' pk=ac.pk %}"><i class="fa fa-times"></i></a></li>
        {% endfor %}
    </ul>

    <h5 class="cv-title">Courses</h5>
    <ul id="course-list">
        {% for course in courses %}
            <li>{{ course.title }} <a href="{% url 'course_remove' pk=course.pk %}"><i class="fa fa-times"></i></a></li>
        {% endfor %}
    </ul>

    <a class="btn btn-default" href="{% url 'skill_new' %}" id="add-skill">Add skill</a>
    <a class="btn btn-default" href="{% url 'education_new' %}" id="add-education">Add education</a>
    <a class="btn btn-default" href="{% url 'achievement_new' %}" id="add-achievement">Add achievement</a>
    <a class="btn btn-default" href="{% url 'course_new' %}" id="add-course">Add course</a>

    {% if user.is_authenticated %}{% endif %}

    <img src="/static/images/none.jpg" alt="none" style="max-width: 100%;">

{% endblock %}
