{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    {% for post in posts %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="post-card-left">
                    <div class="card-body">
                        <div class="card-category"><p>{{ post.category }}</p></div>
                        <h3 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                        <p class="card-text">{{ post.text_snippet|linebreaksbr }}</p>
                        <p class="card-meta">Posted {{ post.published_date|date:'DATE_FORMAT' }}</p>
                    </div>
                </div>

                <div class="post-card-right">
                    <img src="{{ post.image_url }}" class="card-img" alt="{{ post.title }}"/>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
