{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="site-page-title">
        <h1><span>{{ post.title }}</span></h1>
        <div class="site-page-title-meta">
            {% if post.published_date %}
                <div class="site-date-meta">Posted {{ post.published_date|date:'DATE_FORMAT' }}</div>
            {% else %}
                <div class="site-date-meta">Unpublished</div>
            {% endif %}
        </div>
    </div>

    <div class="site-featured-img">
        <img src="{{ post.image_url }}" alt="{{ post.title }}"/>
    </div>

    <div class="site-page-content">
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">Remove</a>
        {% if not post.published_date %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    {% endif %}

{% endblock %}
