html {
    font-size: 16px;
}

body {
    padding: 0px;
    font-weight: 400;
    color: #444;
    font-family: 'Merriweather', serif;
    line-height: 1.88;
    font-size: 1rem;
    overflow-x: hidden;
}

.site-wrapper {
    margin: 0;
    margin-left: 310px;
    padding: 100px 95px;
}

/* --- OLD CSS ---

h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

*/

.site-logo {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    max-width: 230px;
}

.site-logo-link {
    padding: 60px 20px 60px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
    font-size: 3rem;
    color: #333;
    font-weight: 700;
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}

#site-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .2);
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .2);
    width: 310px;
    background-color: #fff;
    z-index: 90;
}

#site-sidebar-flex {
    height: 100%;
}

.site-menu-ul {
    font-family: 'Merriweather Sans', serif;
    list-style: none;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 1.4;
    padding: 0;
}

.site-menu-ul li {
    font-family: 'Merriweather Sans', serif;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    list-style-type: none;
}

.site-menu-ul li a {
    position: relative;
    display: block;
    outline: none;
    text-decoration: none;
    color: #333;
    padding: 0;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.site-menu-ul li a:hover {
    outline: none;
    color: #51cbce;
}

.site-social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #51cbce;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 80%;
}

.site-social-icons li a {
    padding: 0 25px 0 0;
    color: #fff;
    height: 55px;
    line-height: 55px;
}

#site-social-inner {
    padding: 0px 0px 30px 0px;
}

.site-social-icons li a .fa {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1);
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1);
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1);
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1);
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1);
}

.site-social-icons li:hover .fa {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}

.post-card-left {
    width: 61.8%;
    padding: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    -webkit-transition: border 200ms ease;
    -moz-transition: border 200ms ease;
    -o-transition: border 200ms ease;
    -ms-transition: border 200ms ease;
    transition: border 200ms ease;
}

.card:hover .post-card-left {
    border-color: transparent;
}

.post-card-left .card-body {
    padding: 0;
}

.post-card-right {
    width: 38.2%;
}

.post-card-right img {
    height: 100%;
    object-fit: cover;
}

.card-category {
    font-family: 'Merriweather Sans', serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    color: #51cbce;
}

.card-category p {
    margin: 0;
}

.card-title, .card-title a {
    font-family: 'Merriweather Sans', serif;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.3;
}

.card-title a:hover, .card-title a:focus {
    color: #222;
    text-decoration: none;
}

.card-text {
    font-weight: 400;
    color: #444;
    font-family: 'Merriweather', serif;
    line-height: 1.88;
    font-size: 1rem;
    margin: 0;
}

.card-meta {
    margin: 0;
    margin-top: 2.25rem;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1;
    color: #444;
}

.card, .card-img {
    border-radius: 0;
}

.card {
    border: none;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}

/* --- POST DETAIL STYLES --- */

.site-page-title {
    margin-bottom: 60px;
    background: #333;
    padding: 3rem 0 3rem 60px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    opacity: 0;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-right: -300px;
    padding-right: 300px;
}

@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

.site-page-title span {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.site-page-title h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.25rem;
    position: relative;
    display: block;
    margin: 0px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
}

.site-page-title span::after {
    content: "";
    height: 4px;
    width: 100%;
    background: #51cbce;
    left: 0;
    bottom: -4px;
    position: absolute;
    z-index: 10;
}

.site-page-title-meta {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-top: 15px;
    font-family: "Merriweather Sans", sans-serif;
    color: #fff;
}

.site-featured-img {
    margin-bottom: 60px;
}

.site-featured-img img {
    max-width: 100%;
    width: 100%;
    margin: 0;
    display: block;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.site-page-content {
    font-size: 1.15rem;
    margin: 0;
    margin-bottom: 60px;
    position: relative;
}

.site-page-content p {
    margin: 0;
    margin-bottom: 2rem;
}

.site-page-content::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: #51cbce;
    bottom: -60px;
    left: 0;
}

/* --- FOOTER STYLES --- */

#site-footer {
    margin-left: 310px;
    position: relative;
    padding: 0 95px;
    background: #fafafa;
}

.site-footer-wrapper {
    padding: 80px 0px 50px 0px;
}

.btn {
    font-family: "Merriweather Sans", sans-serif;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem 18px;
    line-height: 1.75;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #333;
    border: 2px solid #333;
    color: #FFFFFF;
    opacity: 1;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.btn-default:hover, .btn-default:focus {
    background-color: #222;
    color: #FFFFFF;
    border-color: #222;
    text-decoration: none;
}

.site-title-with-border {
    font-family: "Merriweather Sans", "Helvetica", Arial, sans-serif;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.3;
    color: #333333;
    font-size: 1.45rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.02);
}

.site-title-with-border span {
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
}

.site-title-with-border span::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #51cbce;
    left: 0;
    bottom: -3px;
    position: absolute;
    z-index: 2;
}

.site-footer-wrapper p {
    margin-bottom: 2rem;
}

.col-12, .col-lg-6 {
    padding-right: 30px;
    padding-left: 30px;
}

.site-footer-credits p {
    margin: 0;
    font-size: 0.875rem;
    text-align: center;
}

.site-footer-credits {
    position: relative;
    width: 100%;
    padding: 30px 0px;
}

.site-footer-credits::before {
    background: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), transparent);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
    content: "";
}

a {
    color: #51cbce;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

a:hover, a:focus {
    color: #2ba9cd;
    text-decoration: none;
}

.cv-title {
    font-family: "Merriweather Sans", sans-serif;
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.3;
    color: #333333;
    border-bottom: 3px solid rgba(0, 0, 0, 0.02);
    font-size: 1.45rem;
    max-width: 600px;
}

.cv-title span {
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
}

.cv-title span::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #51cbce;
    left: 0;
    bottom: -3px;
    position: absolute;
    z-index: 2;
}

.cv-list {
    list-style: none;
    margin: 0;
    margin-bottom: 68px;
    max-width: 400px;
}

.cv-list li {
    position: relative;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cv-about {
    margin: 0;
    padding: 0 0 68px 40px;
    max-width: 600px;
}
